@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

}
.text{
    text-align: center;
    font-size: 50px;
    transition: .3s;
}
.text:hover{
    color:#80bdab;
}
.container{
    padding-left: 2.5%;
    display:flex;

  }

  .onebox {
    flex: 1 1 auto;
  }

  .twobox {
    flex: 1 1 auto;
  }

  .threebox {
    flex: 1 1 auto;
  }
  .fourbox {
    flex: 1 1 auto;
  }

  /*BOXS 1 and 3*/
  .box,
  .box3
 {
     position: relative;
     width: 300px;
     height: 400px;
     background: #162447;
 }
 .box:before,
 .box3:before
 {
     content: '';
     position: absolute;
     top: -2px;
     left: -2px;
     right: -2px;
     bottom: -2px;
     background: #fff;
     z-index: -1;
 }
 .box:after,
 .box3:after
 {
     content: '';
     position: absolute;
     top: -2px;
     left: -2px;
     right: -2px;
     bottom: -2px;
     background: #fff;
     z-index: -2;
     filter: blur(40px);
 }
 .box:before,
 .box:after,
 .box3:before,
 .box3:after{
     background: linear-gradient(235deg, #89ff00, #060c21,#00bcd4);
 }
 
 .box:hover:before,
 .box:hover:after,
 .box3:hover:before,
 .box3:hover:after{
     background: linear-gradient( 470deg, #89ff00, #060c21,#00bcd4);
 }
 
/*BOXS 2 and 4*/
.box2,
.box4
{
   position: relative;
   width: 300px;
   height: 400px;
   background: #060c21;
}
.box2:before,
.box4:before
{
   content: '';
   position: absolute;
   top: -2px;
   left: -2px;
   right: -2px;
   bottom: -2px;
   background: #fff;
   z-index: -1;
}
.box2:after,
.box4:after
{
   content: '';
   position: absolute;
   top: -2px;
   left: -2px;
   right: -2px;
   bottom: -2px;
   background: #fff;
   z-index: -2;
   filter: blur(40px);
}
.box2:before,
.box2:after,
.box4:before,
.box4:after{
   background: linear-gradient(235deg, #d92027, #32e0c4,#f3c623);
}

.box2:hover:before,
.box2:hover:after,
.box4:hover:before,
.box4:hover:after{
   background: linear-gradient( 4700deg, #d92027, #32e0c4,#f3c623);
}


 .content{
     padding: 50px;
     box-sizing: border-box;
     color: #fff; 
 }